 <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{product?.title}}</mat-card-title>
      <mat-card-subtitle>{{product?.author}}

        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{product?.imageUrl}}" alt="Photo of a book">
    <mat-card-content>
     <div class="pages">{{product?.pages}} pages</div>
     {{product?.editor}}
     <div class="price">{{product?.price}}€</div>  
    </mat-card-content>
    <mat-card-actions>
      <app-single-product-btn [product]="product"></app-single-product-btn>
      <br>
      <br>
      <app-add-to-basket-btn [product]="product"></app-add-to-basket-btn>
    </mat-card-actions>
  </mat-card>

   <br>

