.price {
  text-align: right;
  font-size: large;
  color: royalblue;
}

.mat-card-title {
    margin-right: 30px;
    color: royalblue;
}

.example-card {
  border-style: solid;
  border-color: rgb(203, 203, 204);
  
}

