<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{news?.title}}</mat-card-title>
    <mat-card-subtitle>{{news?.date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{news?.imageUrl}}" alt="img">
  <mat-card-content>
    <p>
      {{news?.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Voir la ficher produit</button>
  </mat-card-actions>
</mat-card>

