<mat-card>
  <h1 class="title">Contacts</h1>
  <div class="cell">
    <h2>Adresse :</h2>
    <p>85, rue de la République - 69002 Lyon </p>
  </div>
  <div class="cell">
    <h2>E-mail :</h2>
    <p>lalibrairie@gmail.com</p>
  </div>
  <div class="cell">
    <h2>Telephone :</h2>
    <p>06 98 45 67 21</p>
  </div>
</mat-card>

