<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Titre</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>

    <!-- Image URL Column -->
    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let row">{{row.imageUrl}}</td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Auteur</th>
      <td mat-cell *matCellDef="let row">{{row.author}}</td>
    </ng-container>

    <!-- Pages Column -->
    <ng-container matColumnDef="pages">
      <th mat-header-cell *matHeaderCellDef>Nb. de pages</th>
      <td mat-cell *matCellDef="let row">{{row.pages}}</td>
    </ng-container>

    <!-- Editor Column -->
    <ng-container matColumnDef="editor">
      <th mat-header-cell *matHeaderCellDef>Éditeur</th>
      <td mat-cell *matCellDef="let row">{{row.editor}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Prix</th>
      <td mat-cell *matCellDef="let row">{{row.price}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef>Catégories</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngFor="let category of row.categories; let index = index">
          <!-- //TODO route doesn't exist yet-->
          <a [routerLink]="['/category', category.id]">{{category.label}}</a>
          <ng-container *ngIf="row.categories.length > 1 && index < row.categories.length - 1">, </ng-container>
        </ng-container>

      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row"><a [routerLink]="['/product/', row.id]">Modifier</a><br>
        <button (click)="deleteRow(row.id)">Supprimer</button></td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!--
  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
-->
</div>
