.loginPage{
  margin-top: 100px;
  text-align: center;
  margin: auto;
}

.example-form {
  text-align: center;
  margin-top:10%;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.connect-title {
  text-align: center;
  margin-top: 10%;

}

.submit-button {
  margin-top: 50px;
}


.createAccount {
  margin-top: 50px;
}

.error {
  color: red;
}

.errorSubmit {
  color: red;
  margin-top: 50px;
}

