<div class="loginPage">

    <h1 class="title">Formulaire de connection :</h1>
    <p>Compte test : </p>
    <p>Mail: test@gmail.com</p>
    <p>MDP: 1234 </p>
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Votre adresse mail</mat-label>
      <input matInput placeholder="jean.castex@gmail.com" formControlName="email">
      <mat-icon matSuffix>people</mat-icon>
    </mat-form-field>
    <div *ngIf="email?.touched">
      <p class="error" *ngIf="email?.errors?.['required']">L'adresse Email est requise</p>
      <p class="error" *ngIf="email?.errors?.['email']">Le format de l'email est incorrect</p>
    </div>


    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Votre mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <p class="errorSubmit" *ngIf="hasError == 'you'">Email ou mot de passe incorrect</p>
    <p class="errorSubmit" *ngIf="hasError == 'me'">Un problème est survenu de notre côté</p>

    <button type="submit"
    class="submit-button"
    mat-raised-button
    color="primary"
    [disabled]="!loginForm.valid">Me connecter
  </button>
  </form>
  <br>
  <p class="createAccount">Pas encore inscrit ? <a routerLink="/register">Créer un compte !</a></p>
</div>

