<p class="title">{{ product?.title }}</p>
<p>Auteur:{{ product?.author }}</p>
<p>{{ product?.editor}}</p>
<p>Couverture: {{ product?.imageUrl}}</p>
<p>Pages: {{ product?.pages}}</p>
<p>Prix: {{ product?.price}}</p>


