<h1 class="title">Votre panier :</h1>
<app-basket-card *ngFor="let orderItem of orderItems" [orderItem]="orderItem" (deleteItem)="deleteItem(orderItem.id!)"></app-basket-card>
<button class="sendOrder" mat-raised-button color="primary" routerLink="/order-done" (click)="sendCommand()">Passer commande</button>
