<div class="productPage">

  <h1 class="title">Formulaire pour ajouter un produit :</h1>

  <form class="example-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter un titre</mat-label>
      <input id="title" matInput placeholder="title" formControlName="title">
      <mat-icon matSuffix>title</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter l'url d'une image</mat-label>
      <input id="imageUrl" matInput placeholder="imageUrl" formControlName="imageUrl">
      <mat-icon matSuffix>image</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter un auteur</mat-label>
      <input id="author" matInput placeholder="author" formControlName="author">
      <mat-icon matSuffix>people</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter le nombre de pages</mat-label>
      <input id="pages" matInput placeholder="pages" formControlName="pages">
      <mat-icon matSuffix>pages</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter le nom de l'editeur</mat-label>
      <input id="editor" matInput placeholder="editor" formControlName="editor">
      <mat-icon matSuffix>editor</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter un prix</mat-label>
      <input id="price" matInput placeholder="price" formControlName="price">
      <mat-icon matSuffix>€</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Choisisez votre categories</mat-label>
      <mat-select id="category-select" formControlName="category">
        <mat-option [value]="category.id" *ngFor="let category of categories">{{category.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <br>
    <button type="submit" class="submit-button" mat-raised-button color="primary" [disabled]="">Ajouter le produit
    </button>
  </form>

  <br>
  <p class="">Besoin d'aide ? <a routerLink="/contacts">Contactez vous, vous mếme !</a></p>
</div>
