.content {
  padding: 10%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.example-spacer {
  flex: 1 1 auto;
}

.burger {
  font-size: 35px;
}

.companyName {
  font-size: 25px;
}

.mat-toolbar{
height: 7vh;
}

.icon {
  font-size: 17px;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
min-height: 93vh !important;
}

button{
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    text-align: center;
}

.sidenav {
  background-color: #3f51b5;
  color: white;
  width: 200px;
}

.sidenav-links {
  font-size: 17px;
  font-style: ital;
  padding: 7px;
}



