<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="burger">menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span class="companyName">Ma librairie</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a *ngIf="authState.user == null" class="sidenav-links" mat-button routerLink="/login">Se connecter</a>
      <a *ngIf="authState.user != null" class="sidenav-links" mat-button routerLink="/" (click)="logout()">Se déconnecter</a>
      <a class="sidenav-links" mat-button routerLink="/">Accueil</a>
      <a *ngIf="authState.user == null" class="sidenav-links" mat-button routerLink="/register">Créer un compte</a>
      <a class="sidenav-links" mat-button routerLink="/category">Produits</a>
      <a *ngIf="authState.user != null" class="sidenav-links" mat-button routerLink="/basket">Panier</a>
      <a class="sidenav-links" mat-button routerLink="/contacts">Contacts</a>
      <a class="sidenav-links" mat-button routerLink="/special-order-form" >Commande spéciale</a>
      <a class="sidenav-links"></a>
      <a *ngIf="authState.user?.role == 'ROLE_ADMIN'" class="sidenav-links" mat-button routerLink="/add-product">Ajouter un produit</a>
      <a *ngIf="authState.user?.role == 'ROLE_ADMIN'" class="sidenav-links" mat-button routerLink="/news-form">Ajouter une annonce</a>
      <a *ngIf="authState.user?.role == 'ROLE_ADMIN'" class="sidenav-links" mat-button routerLink="/product">Liste des produits</a>
      <a *ngIf="authState.user?.role == 'ROLE_ADMIN'" class="sidenav-links" mat-button routerLink="/user">Liste des utilisateurs</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
"
    <mat-sidenav class="sidenav" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a *ngIf="authState.user == null" class="sidenav-links" mat-button routerLink="/login">Se connecter</a>
        <a *ngIf="authState.user != null" class="sidenav-links" mat-button routerLink="/" (click)="logout()">Se déconnecter</a>
        <a class="sidenav-links" mat-button routerLink="/">Accueil</a>
        <a *ngIf="authState.user == null" class="sidenav-links" mat-button routerLink="/register">Créer un compte</a>
        <a class="sidenav-links" mat-button routerLink="/category">Produits</a>
        <a *ngIf="authState.user != null" class="sidenav-links" mat-button routerLink="/basket">Panier</a>
        <a class="sidenav-links" mat-button routerLink="/contacts">Contacts</a>
        <a class="sidenav-links" mat-button routerLink="/special-order-form" >Commande spéciale</a>
        <a class="sidenav-links"></a>
        <a *ngIf="authState.user?.role == 'ROLE_ADMIN'" class="sidenav-links" mat-button routerLink="/add-product">Ajouter un produit</a>
        <a *ngIf="authState.user?.role == 'ROLE_ADMIN'" class="sidenav-links" mat-button routerLink="/news-form">Ajouter une annonce</a>
        <a *ngIf="authState.user?.role == 'ROLE_ADMIN'" class="sidenav-links" mat-button routerLink="/product">Liste des produits</a>
        <a *ngIf="authState.user?.role == 'ROLE_ADMIN'" class="sidenav-links" mat-button routerLink="/user">Liste des utilisateurs</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <div class="footer">
        <mat-toolbar color="primary">
          <span class="example-spacer"></span>
          <button mat-button>Conditions</button>
          <button mat-button>Contacts</button>
          <button mat-button>Basic</button>
          <span class="example-spacer"></span>
        </mat-toolbar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>






