<div class="productPage">

  <h1 class="title">Formulaire pour modifier un produit :</h1>

  <form class="example-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter un titre</mat-label>
      <input id="title" matInput placeholder="title" formControlName="title" [value]="currentProduct?.title">
      <mat-icon matSuffix>title</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter l'url d'une image</mat-label>
      <input id="imageUrl" matInput placeholder="imageUrl" formControlName="imageUrl" [value]="currentProduct?.imageUrl">
      <mat-icon matSuffix>image</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter un auteur</mat-label>
      <input id="author" matInput placeholder="author" formControlName="author" [value]="currentProduct?.author">
      <mat-icon matSuffix>people</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter le nombre de pages</mat-label>
      <input id="pages" matInput placeholder="pages" formControlName="pages" [value]="currentProduct?.pages">
      <mat-icon matSuffix>pages</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter le nom de l'editeur</mat-label>
      <input id="editor" matInput placeholder="editor" formControlName="editor" [value]="currentProduct?.editor">
      <mat-icon matSuffix>editor</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ajouter un prix</mat-label>
      <input id="price" matInput placeholder="price" formControlName="price" [value]="currentProduct?.price">
      <mat-icon matSuffix>€</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Choisisez votre categories</mat-label>
      <mat-select multiple id="category-select" formControlName="categories">
        <!-- https://stackoverflow.com/a/50049506 tldr: [compareWith] -->
        <mat-option [value]="category.id" *ngFor="let category of allCategories">{{category.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <br>
    <button type="submit" class="submit-button" mat-raised-button color="primary" [disabled]="">Modifier le produit
    </button>
  </form>

  <br>
  <p class="">Besoin d'aide ? <a routerLink="/contacts">Contactez vous, vous mếme !</a></p>
</div>
