<div class="Order-page">
  <h1>Commandez votre Livre</h1>

  <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="SpecialOrderForm">

    <mat-form-field appearance="outline">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
      <mat-label>Auteur</mat-label>
      <input matInput formControlName="author">
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
      <mat-label>langue</mat-label>
      <mat-select formControlName="language">
        <mat-option value="french">Francais</mat-option>
        <mat-option value="English">Anglais</mat-option>
        <mat-option value="Spanish">Espagnols</mat-option>
        <mat-option value="Italian">Italien</mat-option>
        <mat-option value="Arabic">Arabe</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <h2>Contact</h2>

    <mat-form-field class="form-contact" appearance="outline">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="lastname">
      <mat-icon matSuffix class="icon">person</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field class="form-contact" appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="firstname">
      <mat-icon matSuffix class="icon">person</mat-icon>
    </mat-form-field>
    <br>


    <mat-form-field class="form-contact" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email">
      <mat-icon matSuffix class="icon">alternate_email</mat-icon>
    </mat-form-field>
    <br>

    <mat-form-field class="form-contact" appearance="outline">
      <mat-label>Numéro telephone</mat-label>
      <input matInput placeholder="06 XX XX XX XX" formControlName="phonenumber">
      <mat-icon matSuffix class="icon">perm_phone_msg</mat-icon>
    </mat-form-field>
    <br>




    <mat-card-actions>
      <button type="submit" class="submit-button" mat-raised-button color="primary">Commander</button>
    </mat-card-actions>