<div class="Newsform-page">
  <h1>Publier une annonce :</h1>

<form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="newsForm">

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Titre</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <br>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Image</mat-label>
    <input matInput formControlName="imageURL" placeholder="http://placeimg.com/640/360/any">
  </mat-form-field>
  <br>

  <mat-form-field class="form-description" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <br>


  <mat-card-actions>
    <button type="submit" 
    class="submit-button" 
    mat-raised-button 
    color="primary">Publier</button>
  </mat-card-actions>

</form>

</div>
