.newsform-page {
        margin-top: 100px;
        margin-bottom: 60px;

}

.example-form {
    text-align: center;
    min-width: 150px;
    max-width: 500px;
    width: 100%;

}

.form-description{
    height: 250px;
    width: 100%;

}

.form-field {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}


form {
  margin: auto;
}

