<h1>Catégorie {{category?.label}}</h1>

<p><a href="/category">retour à la liste des catégories</a>.</p>

<div *ngFor="let product of products">
  <app-product-card [product]="product"></app-product-card>
</div>
