<h1>Toutes les catégories</h1>
<mat-form-field appearance="fill">
  <mat-label>Choisissez votre catégorie</mat-label>
  <mat-select (selectionChange)="fetchByCategory()" id="category-select" [(ngModel)]="idCategory">
    <mat-option [value]="category.id" *ngFor="let category of categories" >{{category.label}}
    </mat-option>
    </mat-select>
</mat-form-field>
<div *ngFor="let product of products">
  <app-product-card [product]="product"></app-product-card>
</div>
