<mat-card class="basket-card">
  <img mat-card-image>
  <mat-card-title class="basket-title">{{orderItem?.product?.title}}</mat-card-title>
  <mat-card-content>Quantité: {{orderItem?.quantity}}</mat-card-content>
  <mat-card-content>Total: {{orderItem?.product?.price! * orderItem?.quantity!}}</mat-card-content>
  <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
  <mat-icon (click)="clickDelete()">delete</mat-icon>
  </button>
</mat-card>

