<h1 class="title">Nouveautés :</h1>
<div *ngFor="let news of news?.content">
  <app-card [news]="news"></app-card>
</div>
 <button mat-raised-button color="primary" [disabled]="news?.first" (click)="previousPage()">Précédent</button>
 <span class="page-counter"> {{page + 1}} sur {{news?.totalPages}}</span>
 <button mat-raised-button color="primary" [disabled]="news?.last" (click)="nextPage()">Suivant</button>