.registerPage {
  margin-top: 100px;
  margin-bottom: 60px;
}

.example-form {
  text-align: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.connect-title {
  text-align: center;
  margin-top: 10%;

}

.submit-button {
  margin-top: 50px;
}

.logAccount {
  margin-top: 50px;
}

.backBtn {
  margin-top: 30px;
}

.error {
  color: red;
}
