<div class="registerPage">
  <h1 class="connect-title">Formulaire d'inscription:</h1>

  <form class="example-form" [formGroup]="registerForm">

    <div formGroupName="identity" *ngIf="currentState == 'identity'" >

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="Jean" formControlName="firstName">
        <mat-icon matSuffix>people</mat-icon>
      </mat-form-field>
      <div *ngIf="firstName?.touched">
        <p class="error" *ngIf="firstName?.errors?.['required']">Ce champ ne peut être vide</p>
      </div>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Nom de famille</mat-label>
        <input matInput placeholder="Castex" formControlName="lastName">
        <mat-icon matSuffix>people</mat-icon>
      </mat-form-field>
      <div *ngIf="lastName?.touched">
        <p class="error" *ngIf="lastName?.errors?.['required']">Ce champ ne peut être vide</p>
      </div>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="option">Homme</mat-option>
          <mat-option value="option">Femme</mat-option>
          <mat-option value="option">Autre</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="gender.touched">
        <p class="error" *ngIf="gender?.errors?.['required']">Ce champ ne peut être vide</p>
      </div>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="birthDate.touched">
        <p class="error" *ngIf="birthDate?.errors?.['required']">Ce champ ne peut être vide</p>
      </div>

    </div>

    <div formGroupName="contacts" *ngIf="currentState == 'contacts'">

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Adresse</mat-label>
        <input matInput placeholder="Castex" formControlName="address">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <div *ngIf="address.touched">
        <p class="error" *ngIf="address?.errors?.['required']">Ce champ ne peut être vide</p>
        <p class="error" *ngIf="address?.errors?.['min']">Le prénom doit avoir au moins 4 caractères</p>
      </div>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Ville</mat-label>
        <input matInput placeholder="Castex" formControlName="city">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <div *ngIf="city.touched">
        <p class="error" *ngIf="city?.errors?.['required']">Ce champ ne peut être vide</p>
        <p class="error" *ngIf="city?.errors?.['min']">Le prénom doit avoir au moins 4 caractères</p>
      </div>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Code Postal</mat-label>
        <input matInput placeholder="7 rue Jean Castex" formControlName="zipCode">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <div *ngIf="zipCode.touched">
        <p class="error" *ngIf="zipCode?.errors?.['required']">Ce champ ne peut être vide</p>
        <p class="error" *ngIf="zipCode?.errors?.['min']">Le prénom doit avoir au moins 4 caractères</p>
      </div>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Votre numéro de téléphone</mat-label>
        <input matInput placeholder="06 89 56 34 21" formControlName="phoneNumber">
        <mat-icon matSuffix>perm_phone_msg</mat-icon>
      </mat-form-field>
      <div *ngIf="phoneNumber.touched">
        <p class="error" *ngIf="phoneNumber?.errors?.['required']">Ce champ ne peut être vide</p>
      </div>

    </div>

    <div formGroupName="logs" *ngIf="currentState == 'logs'">

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Votre adresse mail</mat-label>
        <input matInput placeholder="jean.castex@gmail.com" formControlName="email">
        <mat-icon matSuffix>people</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Votre mot de passe</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Verification du mot de passe</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="verifyPassword">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button *ngIf="currentState == 'identity'"  type="button" class="submit-button" mat-raised-button color="primary" (click)="next()">
      {{buttonText}}
    </button>
    <button *ngIf="currentState == 'contacts'" type="button" class="submit-button" mat-raised-button color="primary" (click)="next()">
      {{buttonText}}
    </button>
    <button type="submit" [disabled]="!registerForm.valid"  *ngIf="currentState == 'logs'" class="submit-button" mat-raised-button color="primary" (click)="onSubmit()">
      {{buttonText}}
    </button>

  </form>
  <button (click)="backButton()" class="backBtn" *ngIf="currentState != 'identity'" mat-raised-button color="primary">Revenir en arrière</button>
  <p class="logAccount">Deja inscrit ? <a routerLink="/login">S'identifier</a></p>

</div>





